<%- include('header') %>
<section class="content-main">
    <form action="/api/admin/productEdited" method="POST" enctype="multipart/form-data">
        <!-- Add your form action and method attributes above -->
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product title</label>
                                    <input type="text" name="title" placeholder="Type here" value="<%= product.title %>" class="form-control">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="discription"  class="form-control" rows="4"><%= product.discription %></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Brand name</label>
                                    <input type="text" name="brand" placeholder="Addidas" value="<%= product.brand %>" class="form-control">
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Cost in USD</label>
                                    <input type="text" name="price" placeholder="$00.0" value="<%= product.price %>" class="form-control">
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Color</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Color</label>
                                    <input type="text" name="color" placeholder="Black" value="<%= product.color %>" class="form-control">
                                </div>
                            </div> <!-- col.// -->
                            <input type="hidden" name="id" value="<%=product._id %>">
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Category</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                        <input class="form-check-input" checked="" value="Men's Clothing" name="catogary" type="radio">
                                        <span class="form-check-label"> Men's Clothing </span>
                                    </label>
                                    <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                        <input class="form-check-input" value=" Women's Clothing" name="catogary" type="radio">
                                        <span class="form-check-label"> Women's Clothing </span>
                                    </label>
                                    <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                        <input class="form-check-input" value=" Children's Clothing" name="catogary" type="radio">
                                        <span class="form-check-label"> Children's Clothing </span>
                                    </label>
                                    <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                        <input class="form-check-input" value="Athletic and Sportswear" name="<%= product.catogary %>" type="radio">
                                        <span class="form-check-label"> Athletic and Sportswear </span>
                                    </label>
                                    <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                        <input class="form-check-input" value="Accessories" name="<%= product.catogary %>" type="radio">
                                        <span class="form-check-label"> Accessories </span>
                                    </label>
                                    
                                  
                                   
                                    
                                
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>5. Media</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label for="images" class="form-label">Images</label>
                                    <input class="form-control" type="file" accept="image/*" enctype="multipart/form-data" name="images" multiple>

                                    
                                </div>
                               
                            </div> <!-- col.// -->
                        </div> <!-- .row end// -->
                    </div>
                </div>
            </div>
        </div>
       
    </form>
</section> <!-- content-main end// -->
        <%- include('footer') %>