<%- include('header') %>
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/api/user" rel="nofollow">Home</a>
                    <span></span> Fashion
                    <span></span> 
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon" id="zoom-icon"><i
                                                class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <% for (let i=0; i < product.images.length; i++) { %>
                                                <figure class="border-radius-10">
                                                  
                                                        <img style="width: 475px; height: 800px;" src="/admin/assets/imgs/catogary/<%= product.images[i] %>" alt="product image"> 
                                                    
                                                   

                                                </figure>
                                                <% } %>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% for (let i=0; i < product.images.length; i++) { %>

                                                <div>
                                                    <img style="height: 150px; width: 100px;" src="/admin/assets/imgs/catogary/<%= product.images[i] %>" alt="product image">

                                                    
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img
                                                        src="#" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img
                                                        src="#" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img
                                                        src="#" alt=""></a>
                                            </li>
                                            <li class="social-linkedin"><a href="#"><img
                                                        src="#" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%= product.title %>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span>Brand <a href="#">: <%= product.brand %>
                                                            </a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: <%= product.rating.star  %>%"></div>
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (<%= product.rating.average  %>  reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%= product.price %></span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%=
                                                            Math.round(product.price+50) %></span></ins>
                                                <span class="save-price  font-md color3 ml-15"></span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>
                                                <%= product.discription %>
                                            </p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year <%= product.brand %>
                                                    Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">

                                                <% if (product.color== "Black") { %>
                                                    <li><a href="#" data-color="Black"><span class="product-color-black"></span></a></li>

                                                    <% } else if(product.color== "Grey"){ %>
                                                        <li><a href="#" data-color="Grey"><span class="product-color-grey"></span></a></li>
                                                        <% } else if(product.color== "White"){ %>
                                                            <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                            <% } else if(product.color== "silver"){ %>
                                                                <li><a href="#" data-color="silver"><span class="product-color-silver"></span></a></li>

                                                                <% } else if(product.color== "cream"){ %>

                                                                    <li><a href="#" data-color="cream"><span class="product-color-cream"></span></a></li>
                                                                    <% } else if(product.color== "Green"){ %>

                                                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                                        <% } else if(product.color== "Red"){ %>
                                                                            <li><a href="#"Red"><span class="product-color-red"></span></a></li>
                                                                            <% } else if(product.color== "Brown"){ %>
                                                                                <li><a href="#" data-color="Brown"><span class="product-color-Brown"></span></a></li>
                                                        <% } %> 

                                                  
                                                       


                                           



                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">

                                            <% if (product.size== "s") { %>
                                                <li><a href="#">S</a></li>

                                                <% } else if(product.size== "m"){ %>
                                                    <li class="active"><a href="#">M</a></li>

                                                    <% } else if(product.size== "l"){ %>

                                                        <li><a href="#">L</a></li>
                                                    <% } else if(product.size== "xl"){ %>
                                                        <li><a href="#">XL</a></li>
                                                    <% } %> 
                                                                                                                                                                  

                                            </ul>



                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2">
                                                
                                               
                                               
                                                <br>
                                                <a aria-label="Add To Wishlist" onclick="wishList('<%= product._id %>')" class="action-btn hover-up"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up"
                                                    href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                            <br>
                                            <br>
                                             <div class=" ml-5"><a  onclick="addToCart('<%= product.id %>')" ><button type="submit"  class="button button-add-to-cart ">Add tocart</button></a></div>
                                             <div class="col-lg-3"><a href="/api/user/buyNOw?id=<%= product.id %>"><button style="width: 100px; height: 40px;" type="submit" class="btn btn-sm button-add-to-cart">Buy Now</button></a></div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                           
                                            <li class="mb-5">Tags: <a href="#" rel="tag"><%= product.catogary %></a>,
                                                 <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">
                                                <%= product.quantity %> in  Stock</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                            href="#Description">Description</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                            href="#Reviews">Reviews (3)</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
                                            <p><%= product.discription %>
                                            </p>
                                            <ul class="product-more-infor mt-30">
                                                <li><span>Type Of Packing</span> Box </li>
                                                <li><span>Color</span> <%= product.color %></li>
                                                <li><span>Quantity Per Case</span> <%= product.quantity %></li>
                                                
                                            </ul>
                                            <hr class="wp-block-separator is-style-dots">
                                            
                                            <h4 class="mt-30">Packaging & Delivery</h4>
                                            <hr class="wp-block-separator is-style-wide">
                                            <p>Evara's packaging and delivery solutions are a testament to our commitment to excellence. Our quality-driven approach ensures that your products are protected and delivered with care. From elegant packaging that enhances the unboxing experience to export-ready solutions that meet global standards, we take pride in providing the best. Trust Evara for quality, protection, and peace of mind with every delivery.
                                            </p>
                                           
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    <div class="comment-list">
                                                        <% product.individualRatings.forEach(rating => { %>
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <% if (rating.postedBy.isGoogle) { %>
                                                                            <img src="<%= rating.postedBy.image %>" alt="<%= rating.postedBy.username %>">
                                                                        <% } else { %>
                                                                            <img src="/admin/assets/imgs/catogary/<%= rating.postedBy.image %>" alt="<%= rating.postedBy.username %>">
                                                                        <% } %>
                                                                        <h6><a href="#"><%= rating.postedBy.username %></a></h6>
                                                                        <p class="font-xxs">Since <%= rating.postedBy.since %></p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <h6><%= rating.star %> out of 5</h6>
                                                                        <div class="product-rate d-inline-block">
                                                                           
                                                                            <div class="product-rating" style="width: <%= rating.star * 10 %>%"></div>
                                                                        </div>
                                                                        <p><%= rating.review %></p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                              
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h4 class="mb-30">Customer reviews</h4>
                                                
                                                    <% if (product.individualRatings && product.individualRatings.length > 0) { %>
                                                        <% let totalStars = 0; %>
                                                        <% let totalRatings = 0; %>
                                                        <% let ratingCounts = { 5: 0, 4: 0, 3: 0, 2: 0, 1: 0 }; %>
                                                
                                                        <% product.individualRatings.forEach(rating => { %>
                                                            <% totalStars += rating.star; %>
                                                            <% totalRatings += 1; %>
                                                            <% ratingCounts[rating.star] += 1; %>
                                                        <% }); %>
                                                
                                                        <% let averageRating = totalStars / totalRatings; %>
                                                        <% averageRating = averageRating.toFixed(1); %>
                                                
                                                        <div class="d-flex mb-30">
                                                            <div class="product-rate d-inline-block mr-15">
                                                                <div class="product-rating" style="width: <%= averageRating * 10 %>%"></div>
                                                            </div>
                                                            <h6><%= averageRating %> out of 5</h6>
                                                        </div>
                                                
                                                        <% for (let i = 5; i >= 1; i--) { %>
                                                            <% let percentage = (ratingCounts[i] / totalRatings) * 100; %>
                                                            <div class="progress">
                                                                <span><%= i %> star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: <%= percentage.toFixed(1) %>%;"
                                                                    aria-valuenow="<%= percentage.toFixed(1) %>" aria-valuemin="0" aria-valuemax="100">
                                                                    <%= percentage.toFixed(1) %>%
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                
                                                    <% } else { %>
                                                        <!-- Handle case where there are no ratings -->
                                                        <p>No ratings available.</p>
                                                    <% } %>
                                                
                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                </div>
                                                
                                        <!--comment form-->
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        
                                        <% if (relatedPr.length > 0) { %>


                                            <% for (let i=0; i < relatedPr.length;i++) { %>
                                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap small hover-up">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a href="/api/user/aProduct?id=<%= relatedPr[i].id %>" tabindex="0">
                                                                    <img class="default-img"
                                                                        src="/admin/assets/imgs/catogary/<%= relatedPr[i].images[0] %>" alt="">
                                                                    <img class="hover-img"
                                                                        src="/admin/assets/imgs/catogary/<%= relatedPr[i].images[1] %>" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">
   
                                           <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="wishList('<%= relatedPr[i]._id %>')"><i class="fi-rs-heart"></i></a>
                                                                
                                                            </div>
                                                            <div
                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <h2><a href="#" tabindex="0">
                                                                <%= relatedPr[i].title %>

                                                            </a></h2>
                                                            <br>
                                                            <br>
                                                           
                                                            <div class="product-price">
                                                                <span>₹<%= relatedPr[i].price %></span>
                                                                <span class="old-price">₹<%=
                                                                    Math.round(relatedPr[i].price+50) %></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <% } %>

                                            

                                            


                                            <% } else { %>
                                                <tr>
                                                  <td colspan="2">No Silmilar Products</td>
                                                </tr>
                                                <% } %>


                                        
                                        
                                       
                                        
                                    </div>
                                </div>
                            </div>
                           <br><br><br>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>

    <script>

        let zoomer = function () {
            document.querySelector('.product-image-slider figure')
                .addEventListener('mousemove', function (e) {
                    // Your existing zooming logic here
                }, false);
        }();

    </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize image zoom for all product images
        var productImages = document.querySelectorAll('.image-zoom-container img');
        productImages.forEach(function (img) {
            new ImageZoom(img.parentNode, {
                scale: 2.0,
                zoomPosition: 'right'
            });
        });
    });
</script>



     <script>
        function wishList(id){
           $.ajax({
               url:`/api/user/addToList?id=${id}`,
               method:"get",
               success:(response)=>{
                   if(response.status){
                      
                   }else{
                       Swal.fire({
           title: 'ALREADY SELECTED!',
           text: 'You already selected',
           icon: 'error',
           timer: 3000,
         
       
         })
                   }
       
               }
           })
       
       
       
        }
       
           </script>
           <script>
            function addToCart(id) {
              $.ajax({
                url: `/api/user/addToCart?id=${id}`,
                method: "get",
                success: (response) => {
                  if (response.status) {
                    Swal.fire({
                      title: "ADD TO CART",
                      text: "Product Added to cart",
                      icon: "success",
                      timer: 1000,
                      showConfirmButton: false, // This removes the button
                    });
                  } else {
                    Swal.fire({
                      title: "OUT OFF STOK",
                      text: "The Product out off Stoke",
                      icon: "error",
                      timer: 1000,
                      showConfirmButton: false, // This removes the button
                    });
                  }
                },
              });
            }
          </script>
           <script>
            function wishList(id){
               $.ajax({
                   url:`/api/user/addToList?id=${id}`,
                   method:"get",
                   success:(response)=>{
                       if(response.status){
                        Swal.fire({
               title: 'ADDED TO WISHLIST',
               text: 'You seleted a Product to the wisslist',
               icon: 'success',
               timer: 3000,
             
           
             })
                          
                       }else{
                           Swal.fire({
               title: 'ALREADY SELECTED!',
               text: 'You already selected',
               icon: 'error',
               timer: 3000,
             
           
             })
                       }
           
                   }
               })
           
           
           
            }
           
               </script>
    <%- include('footer') %>