<%- include('header') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Edit Address
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">
                           
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                   
                                       

                                        <!-- card for the dash bord user simple details -->
                                           
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add New Address</h5>
                                            </div>
                                            <div class="card-body">
                                               
                                                <form method="post" action="/api/user/addAddress" >
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Full Name</h5></label>
                                                            <input required="" class="form-control square" value="<%= user.address.fullName %>" name="fullName" type="text">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Mobile number</h5></label>
                                                            <input required="" class="form-control square" value="<%= user.address.mobile %>" name="mobile" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Region</h5></label>
                                                            <input required="" class="form-control square" name="region" value="<%= user.address.region %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Pincode</h5></label>
                                                            <input required="" class="form-control square" value="<%= user.address.pinCode %>" name="pinCode" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Flat, House no., Building, Company, Apartment</h5></label>
                                                            <input required="" class="form-control square" value="<%= user.address.addressLine %>" name="addressLine" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label> <h5>Area, Street, Sector, Village</h5></label>
                                                            <input required="" class="form-control square" name="areaStreet" value=" <%= user.address. areaStreet %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Landmark</h5> </label>
                                                            <input required="" class="form-control square" name="landmark" value=" <%= user.address.landmark %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><h5>Town/City</h5> </label>
                                                            <input required="" class="form-control square" name="townCity" value="<%= user.address.townCity %>" type="text">
                                                        </div> <div class="form-group col-md-6">
                                                            <label><h5>State</h5> </label>
                                                            <input required="" class="form-control square" name="state" value="<%= user.address.state %>" type="text">
                                                        </div>
                                                       
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Adress Type</h5> </label>
                                                            <input required="" class="form-control square" name="adressType" value="<%= user.address.adressType %>" type="text">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %>
   