<%- include('header') %>

<main class="main">
  <br />
  <br />
<!------------------- this is baner session----------------------- -->
  <section class="home-slider position-relative mb-30">
    <div class="container">
      <div class="home-slide-cover mt-30">
        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
          <% for (let i = 0; i < banner.length; i++) { %>

          <div class="single-hero-slider single-animation-wrap">
            <div class="container">
              <div class="row justify-content-center slider-animated-1">
                <div
                  class="col-lg-12 col-md-12 slider-image"
                  style="
                    background-image: url('/admin/assets/imgs/catogary/<%= banner[i].image %>');
                  "
                >
                  <div
                    class="hero-slider-content-2 text-center align-items-center"
                  >
                    <br /><br /><br />

                    <h2 class="animated fw-900" style="color: darkgray">
                      <%= banner[i].title %>
                    </h2>
                    <br /><br /><br /><br /><br /><br />

                    <p
                      class="animated"
                      style="margin-left: 10rem; color: white"
                    >
                      <%= banner[i].discription %>
                    </p>
                    <br /><br /><br /><br /><br /><br />

                    <a
                      class="animated btn btn-brush btn-brush-3"
                      href="/api/user/CatogaryFilter?catogary=<%= banner[i].link %>"
                      tabindex="0"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <br /><br /><br /><br />

        <div class="slider-arrow hero-slider-1-arrow"></div>
      </div>
    </div>
  </section>
<!-------------------  baner session- end---------------------- -->


  <br /><br /><br /><br /><br /><br />

  <section class="banners mb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="banner-img wow fadeIn animated">
            <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing">
              <img
                style="height: 200px"
                src="https://i.pinimg.com/564x/41/89/88/4189887539095c219b66b9afb89440f0.jpg"
                alt=""
            /></a>
            <div class="banner-text">
              <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="banner-img wow fadeIn animated">
            <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing">
              <img
                style="height: 200px"
                src="https://i.pinimg.com/564x/39/d0/a7/39d0a7e4ee4300d46910b1eb77b388f2.jpg"
                alt=""
            /></a>
            <div class="banner-text">
              <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-md-none d-lg-flex">
          <div class="banner-img wow fadeIn animated mb-sm-0">
            <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing">
              <img
                style="height: 200px"
                src="https://i.pinimg.com/564x/a2/2e/da/a22eda7f397e83887ff29083e86e5ae9.jpg"
                alt=""
            /></a>
            <div class="banner-text">
              <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Category
            </h5>
            <ul class="categories">
              <li><a href="#">Shoes & Bags</a></li>
              <li><a href="#">Blouses & Shirts</a></li>
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Swimwear</a></li>
              <li><a href="#">Beauty</a></li>
              <li><a href="#">Jewelry & Watch</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Sort by
            </h5>
            <ul class="categories">
              <li><a href="#">Popularity</a></li>
              <li><a href="#">Average rating</a></li>
              <li><a href="#">Price: Low to High</a></li>
              <li><a href="#">Price: High to Low</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Price Range
            </h5>
            <ul class="categories">
              <li><a href="#">$0-$200</a></li>
              <li><a href="#">$200-$400</a></li>
              <li><a href="#">$400-$600</a></li>
              <li><a href="#">$600-$800</a></li>
              <li><a href="#">800$+</a></li>
            </ul>
          </div>
          <div
            class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none"
          >
            <img
              src="https://i.pinimg.com/564x/4d/0f/ed/4d0fedd71aed60d4aca2297ab5caa3ff.jpg"
              alt=""
            />
            <div class="banner-text">
              <h4 style="color: black">Women Zone</h4>
              <h4>Save 17% on <br />Office Dress</h4>
              <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="nav-tab-one"
                  data-bs-toggle="tab"
                  data-bs-target="#tab-one"
                  type="button"
                  role="tab"
                  aria-controls="tab-one"
                  aria-selected="true"
                >
                  Featured
                </button>
              </li>
            </ul>
            <a href="#" class="view-more d-none d-md-flex"
              >View More<i class="fi-rs-angle-double-small-right"></i
            ></a>
          </div>
          <!--End nav-tabs-->
          <div class="tab-content wow fadeIn animated" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="tab-one"
              role="tabpanel"
              aria-labelledby="tab-one"
            >
              <div class="row product-grid-4">
                <% if (product.length > 0) { %> <% for (let i = 0; i <
                product.length; i++) { %>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <a href="/api/user/aProduct?id=<%= product[i].id %>">
                    <div class="product-cart-wrap mb-30">
                      <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                          <a href="/api/user/aProduct?id=<%= product[i].id %>">
                            <img
                              class="default-img"
                              src="/admin/assets/imgs/catogary/<%= product[i].images[0] %>"
                              alt=""
                            />
                            <img
                              class="hover-img"
                              src="/admin/assets/imgs/catogary/<%= product[i].images[2] %>"
                              alt=""
                            />
                          </a>
                        </div>
                        <div class="product-action-1">
                        
                          <a
                            aria-label="Add To Wishlist"
                            class="action-btn hover-up"
                            onclick="wishList('<%= product[i]._id %>')"
                            ><i class="fi-rs-heart"></i
                          ></a>




                          <a
                            aria-label="Compare"
                            class="action-btn hover-up"
                            href="#"
                            ><i class="fi-rs-shuffle"></i
                          ></a>
                        </div>
                        <div
                          class="product-badges product-badges-position product-badges-mrg"
                        >
                          <span class="hot">Hot</span>
                        </div>
                      </div>
                      <div class="product-content-wrap">
                        <div class="product-category">
                          <a href="#"><%= product[i].catogary %></a>
                        </div>
                        <h2><a href="#"><%= product[i].title %></a></h2>

                        <div class="rating-result" title="90%">
                          <span>
                            <!-- <span><%= product[i].rating %> </span> -->
                          </span>
                        </div>
                        <div class="product-price">
                          <span>₹<%=product[i].price %> </span>
                          <span class="old-price"
                            >₹<%= Math.round(product[i].price+50) %></span
                          >
                          <a
                            class="float-right"
                            onclick="addToCart('<%= product[i].id %>')"
                            ><i class="fi-rs-shopping-bag-add"></i
                          ></a>
                        </div>
                        <div class="">
                          <!-- Use a common class "add-to-cart-btn" for all add to cart buttons -->
                          <!-- <a href="/api/user/addToCart?id=<%= product[i].id %>""><i class="fi-rs-shopping-bag-add"></i></a> -->

                          <!-- <a aria-label="Add To Cart" class="action-btn hover-up add-to-cart-btn" href="/api/user/addToCart?id=<%= product[i].id %>"> <i class="fi-rs-shopping-bag-add"></i> </a> -->
                        </div>
                      </div>
                    </div>
                  </a>
                </div>








<!---------------- this is the modal -------------------->








                <% } %> 
                
               
                
                
                <% } else { %>
               
                
                  <% } %>

                  

                  

                 

                



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="/user/assets/imgs/banner/banner-4.png" alt="" />
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
          <h1 class="fw-600 mb-20">
            We're an Apple <br />Authorised Service Provider
          </h1>
          <a href="shop-grid-right.html" class="btn"
            >Learn More <i class="fi-rs-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-arrows"
        ></div>
        <div class="carausel-6-columns" id="carausel-6-columns">
          <% if (catogary.length > 0) { %> <% for (let i = 0; i <
          catogary.length; i++) { %>

          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="#"
                ><img
                  src="/admin/assets/imgs/catogary/<%= catogary[i].image %>"
                  alt=""
              /></a>
            </figure>
            <h5><a href="#"><%= catogary[i]. name %></a></h5>
          </div>

          <% } %> <% } else { %> <% } %>
        </div>
      </div>
    </div>
  </section>
  <section class="deals section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
            style="
              background-image: url('https://i.pinimg.com/564x/08/ef/6b/08ef6b57629cf5b38c3a460d4a437564.jpg');
            "
          >
            <div class="deal-top">
              <h2 class="text-dark">Deal of the Day.</h2>
              <h5>Limited quantities.</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title">
                <a href="#">Summer Collection New Morden Design</a>
              </h6>
              <div class="product-price">
                <span class="new-price">$139.00</span
                ><span class="old-price">$160.99</span>
              </div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2025/03/25 00:00:00"
              ></div>
              <a
                href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                class="btn hover-up"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated"
            style="
              background-image: url('https://i.pinimg.com/564x/97/cc/c1/97ccc185f134fd9c496c775c3eeefc56.jpg');
            "
          >
            <div class="deal-top">
              <h2 class="text-dark">Men Clothing</h2>
              <h5>Shirt & Bag</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title">
                <a href="/api/user/CatogaryFilter?catogary=Men's Clothing"
                  >Try something new on vacation</a
                >
              </h6>
              <div class="product-price">
                <span class="new-price">$178.00</span
                ><span class="old-price">$256.99</span>
              </div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2026/03/25 00:00:00"
              ></div>
              <a
                href="/api/user/CatogaryFilter?catogary=Men's Clothing"
                class="btn hover-up"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-25 pb-15">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-2-arrows"
        ></div>
        <div
          class="carausel-6-columns carausel-arrow-center"
          id="carausel-6-columns-2"
        >
          <% if (product.length > 0) { %> <% for (let i = 0; i < product.length;
          i++) { %>
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="/api/user/aProduct?id=<%= product[i].id %>">
                  <img
                    class="default-img"
                    src="/admin/assets/imgs/catogary/<%= product[i].images[0] %>"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/admin/assets/imgs/catogary/<%= product[i].images[2] %>"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                  ><i class="fi-rs-eye"></i
                ></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn hover-up"
                  onclick="wishList('<%= product[i]._id %>')"
                  ><i class="fi-rs-heart"></i
                ></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="hot">New</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="#"><%= product[i].title %></a></h2>
              <div class="rating-result" title="90%">
                <span> </span>
              </div>
              <div class="product-price">
                <span>₹<%=product[i].price %> </span>
                <span class="old-price"
                  >₹<%= Math.round(product[i].price+50) %></span
                >
              </div>
            </div>
          </div>

          <% } %> <% } else { %>
          <tr>
            <td colspan="2">Product not found</td>
          </tr>
          <% } %>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey-9 section-padding">
    <div class="container pt-15 pb-25">
      <div class="heading-tab d-flex">
        <div class="heading-tab-left wow fadeIn animated">
          <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 d-none d-lg-flex">
          <div class="banner-img style-2 wow fadeIn animated">
            <img
              src="https://i.pinimg.com/564x/fd/cd/98/fdcd98ec7c567b596efc1bb7173351ce.jpg"
              alt=""
            />
            <div class="banner-text">
              <h4 style="color: black">Woman Area</h4>
              <h4 class="mt-5">Save 17% on <br />Clothing</h4>
              <a
                href="/api/user/CatogaryFilter?catogary= Womon's Clothing"
                class="text-white"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="tab-content wow fadeIn animated" id="myTabContent-1">
            <div
              class="tab-pane fade show active"
              id="tab-one-1"
              role="tabpanel"
              aria-labelledby="tab-one-1"
            >
              <div
                class="carausel-4-columns-cover arrow-center position-relative"
              >
                <div
                  class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                  id="carausel-4-columns-arrows"
                ></div>
                <div
                  class="carausel-4-columns carausel-arrow-center"
                  id="carausel-4-columns"
                >
                  <% if ( womens.length > 0 ) { %> <% for (let i = 0; i <
                  womens.length; i++) { %>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div
                        class="product-img product-img-zoom"
                        style="height: 200px"
                      >
                        <a href="/api/user/aProduct?id=<%= womens[i].id %>">
                          <img
                            class="default-img"
                            src="/admin/assets/imgs/catogary/<%= womens[i].images[0] %>"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/admin/assets/imgs/catogary/<%= womens[i].images[2] %>"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          onclick="wishList('<%= womens[i]._id %>')"
                          ><i class="fi-rs-heart"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">SALE</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="#"><%= womens[i].brand %></a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          ><%= womens[i].title %></a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>₹<%=womens[i].price %> </span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          class="float-right"
                          onclick="addToCart('<%= womens[i].id %>')"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>

                  <% } %> <% } else { %> <% } %>
                </div>
              </div>
            </div>
            <!--End tab-pane-->
          </div>
          <!--End tab-content-->
        </div>
        <!--End Col-lg-9-->
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container pt-25 pb-20">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="section-title mb-20"><span>From</span> blog</h3>
          <div class="post-list mb-4 mb-lg-0">
            <article class="wow fadeIn animated">
              <div class="d-md-flex d-block">
                <div class="post-thumb d-flex mr-15">
                  <a class="color-white" href="blog-post-fullwidth.html">
                    <img src="/user/assets/imgs/blog/blog-2.jpg" alt="" />
                  </a>
                </div>
                <div class="post-content">
                  <div class="entry-meta mb-10 mt-10">
                    <a
                      class="entry-meta meta-2"
                      href="blog-category-fullwidth.html"
                      ><span class="post-in font-x-small">Fashion</span></a
                    >
                  </div>
                  <h4 class="post-title mb-25 text-limit-2-row">
                    <a href="blog-post-fullwidth.html"
                      >Qualcomm is developing a Nintendo Switch-like console,
                      report says</a
                    >
                  </h4>
                  <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                    <div>
                      <span class="post-on">14 April 2022</span>
                      <span class="hit-count has-dot">12M Views</span>
                    </div>
                    <a href="blog-post-right.html">Read More</a>
                  </div>
                </div>
              </div>
            </article>
            <article class="wow fadeIn animated">
              <div class="d-md-flex d-block">
                <div class="post-thumb d-flex mr-15">
                  <a class="color-white" href="blog-post-fullwidth.html">
                    <img src="/user/assets/imgs/blog/blog-1.jpg" alt="" />
                  </a>
                </div>
                <div class="post-content">
                  <div class="entry-meta mb-10 mt-10">
                    <a
                      class="entry-meta meta-2"
                      href="blog-category-fullwidth.html"
                      ><span class="post-in font-x-small">Healthy</span></a
                    >
                  </div>
                  <h4 class="post-title mb-25 text-limit-2-row">
                    <a href="blog-post-fullwidth.html"
                      >Not even the coronavirus can derail 5G's global
                      momentum</a
                    >
                  </h4>
                  <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                    <div>
                      <span class="post-on">14 April 2022</span>
                      <span class="hit-count has-dot">12M Views</span>
                    </div>
                    <a href="blog-post-right.html">Read More</a>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6">
              <div class="banner-img banner-1 wow fadeIn animated">
                <img src="/user/assets/imgs/banner/banner-5.jpg" alt="" />
                <div class="banner-text">
                  <span>Accessories</span>
                  <h4>Save 17% on <br />Autumn Hat</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="banner-img mb-15 wow fadeIn animated">
                <img src="/user/assets/imgs/banner/banner-6.jpg" alt="" />
                <div class="banner-text">
                  <span>Big Offer</span>
                  <h4>Save 20% on <br />Women's socks</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="banner-img banner-2 wow fadeIn animated">
                <img src="/user/assets/imgs/banner/banner-7.jpg" alt="" />
                <div class="banner-text">
                  <span>Smart Offer</span>
                  <h4>Save 20% on <br />Eardrop</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br /><br />

  <section class="featured section-padding">
    <div class="container pb-25">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user/assets/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br /><br /><br /><br /><br /><br />
</main>


<script>
function modal(value) {
    // Your code here
    console.log('Modal function called with value:', value);
   
}
   

</script>
<script>
  // Use event delegation to handle clicks on "Add To Cart" buttons
  document
    .querySelector(".product-grid-4")
    .addEventListener("click", async (e) => {
      if (e.target && e.target.classList.contains("add-to-cart-btn")) {
        // Get the product ID from the clicked button's href
        const href = e.target.getAttribute("href");
        const productId = new URLSearchParams(href.split("?")[1]).get("id");

        // Use SweetAlert2 to show a success message for the clicked product
        await Swal.fire({
          title: "Add To Cart",
          text: `You added to the cart!`,
          icon: "success",
          timer: 2000,
          showConfirmButton: false, // Hide the confirmation button
        });

        // Allow the default link navigation
        return true;
      }
    });
</script>
<script>
  function wishList(id) {
    $.ajax({
      url: `/api/user/addToList?id=${id}`,
      method: "get",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "ADDED TO WISHLIST",
            text: "You seleted a Product to the wisslist",
            icon: "success",
            timer: 3000,
          });
        } else {
          Swal.fire({
            title: "ALREADY SELECTED!",
            text: "You already selected",
            icon: "error",
            timer: 3000,
          });
        }
      },
    });
  }
</script>

<script>
  function addToCart(id) {
    $.ajax({
      url: `/api/user/addToCart?id=${id}`,
      method: "get",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "ADD TO CART",
            text: "Product Added to cart",
            icon: "success",
            timer: 1000,
            showConfirmButton: false, // This removes the button
          });
        } else {
          alert("errro");
        }
      },
    });
  }
</script>
<%- include('footer') %>
