<%- include('header') %>
<br>
<br>
<br><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<br>

   
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="card-body">
                    <div class="order-tracking mb-100">
                        <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-shopping_cart"></i></div>
                                </div>
                                <h4 class="step-title">Confirmed Order</h4>
                                <small class="text-muted text-sm">15 March 2022</small>
                            </div>
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-settings"></i></div>
                                </div>
                                <h4 class="step-title">Processing Order</h4>
                                <small class="text-muted text-sm">16 March 2022</small>
                            </div>
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-shopping_bag"></i></div>
                                </div>
                                <h4 class="step-title">Quality Check</h4>
                                <small class="text-muted text-sm">17 March 2022</small>
                            </div>
                            <div class="step">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-local_shipping"></i></div>
                                </div>
                                <h4 class="step-title">Product Dispatched</h4>
                                <small class="text-muted text-sm">18 March 2022</small>
                            </div>
                            <div class="step">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-check_circle"></i></div>
                                </div>
                                <h4 class="step-title">Product Delivered</h4>
                                <small class="text-muted text-sm">20 March 2022</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-50 mt-20 order-info-wrap text-center">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">                              
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= user.username %> <br> <%= user.email %> <br> +1. <%= user.mobile %>
                                    </p>
                                    <a href="api/user/profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">                              
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: <%= order.address[0].adressType %> <br> Pay method: <%= order.payment %> <br> Status: <%= order.status %>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">                              
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= order.address[0].townCity %>,<%= order.address[0].areaStreet %> <br> Po Box <%= order.address[0].pinCode %>
                                    </p>
                                    <a href="api/user/profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                   <div class="row">
                        <div class="text-center mt-100 mb-50">
                            <a class="btn btn-primary" href="page-orders-detail.html">View Order Details</a>
                        </div>
                   </div>
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        
    <%- include('footer') %>
       