       
       
<%- include('header') %>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
</style>
<style>
    .circle-image img{

border: 6px solid #fff;
border-radius: 100%;
padding: 0px;
top: -28px;
position: relative;
width: 70px;
height: 70px;
border-radius: 100%;
z-index: 1;
background: #e7d184;
cursor: pointer;

}


.dot {
  height: 18px;
width: 18px;
background-color: blue;
border-radius: 50%;
display: inline-block;
position: relative;
border: 3px solid #fff;
top: -48px;
left: 186px;
z-index: 1000;
}

.name{
margin-top: -21px;
font-size: 18px;
}


.fw-500{
font-weight: 500 !important;
}


.start{

color: green;
}

.stop{
color: red;
}


.rate{

border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;

}



.rating {
display: flex;
flex-direction: row-reverse;
justify-content: center
}

.rating>input {
display: none
}

.rating>label {
position: relative;
width: 1em;
font-size: 30px;
font-weight: 300;
color: #FFD600;
cursor: pointer
}

.rating>label::before {
content: "\2605";
position: absolute;
opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
opacity: 1 !important
}

.rating>input:checked~label:before {
opacity: 1
}

.rating:hover>input:checked~label:before {
opacity: 0.4
}


.buttons{
top: 36px;
position: relative;
}


.rating-submit{
border-radius: 15px;
color: #fff;
    height: 49px;
}


.rating-submit:hover{

color: #fff;

}
.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0.10rem}
.card-header:first-child{border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0}
.card-header{padding: 0.75rem 1.25rem;margin-bottom: 0;background-color: #fff;border-bottom: 1px solid rgba(0, 0, 0, 0.1)}
.track{position: relative;background-color: #ddd;height: 8px;display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 60px;margin-top: 50px}
.track .step{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 25%;margin-top: -18px;text-align: center;position: relative}
.track .step.active:before{background: #187552}.track .step::before{height: 7px;position: absolute;content: "";width: 100%;left: 0;top: 18px}
.track .step.active .icon{background: #187552;color: #fff}.track .icon{display: inline-block;width: 50px;height: 50px;line-height: 50px;position: relative;border-radius: 100%;background: #ddd}
.track .step.active .text{font-weight: 400;color: #000}.track .text{display: block;margin-top: 7px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}
.itemside .aside{position: relative;-ms-flex-negative: 0;flex-shrink: 0}.img-sm{width: 80px;height: 80px;padding: 7px}ul.row, ul.row-sm{list-style: none;padding: 0}.itemside .info{padding-left: 15px;padding-right: 7px}
.itemside .title{display: block;margin-bottom: 5px;color: #212529}p{margin-top: 0;margin-bottom: 1rem}.btn-warning{color: #ffffff;background-color: #3f894a;border-color: #3f894a;border-radius: 1px}
.btn-warning:hover{color: #ffffff;background-color: #187552;border-color: #187552;border-radius: 1px}


</style>
<br>
    <br>
    <br>
<div class="row">
    <div class="col-lg-1">
        
    </div>
    
    <div class=" col-lg-11">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2022, 4:34PM</b>
                            </span> <br>
                            <small class="text-muted">Order ID: 3453012</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                          
                            <a class="btn btn-primary" href="/api/user/invoice?id=<%= order._id%>">invoice</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
<br>
<br>

<br>
<br> 

<% if (order.status == 'delivered') { %>
    <div class="track col-lg-9">
        <div class="step active"> <span class="icon"> <i class="fi-rs-shopping-bag mr-9"></i></span> <span class="text"><h4>Order confirmed</h4></span> </div>
        <div class="step active"> <span class="icon"> <i class="fa fa-user"></i><i class="fi-rs-marker mr-9"></i> </span> <span class="text"> <h4>Picked by courier</h4></span> </div>
        <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i><i class="fi-rs-shopping-cart-check mr-9"></i> </span> <span class="text"> <h4>On the way</h4> </span> </div>
        <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> <i class="evara-font-home"></i></span> <span class="text"><h4>Ready for pickup</h4></span> </div>
    </div>
    <% } else if(order.status == 'canceled') { %>
        <div class="track col-lg-9">
            <div class="step "> <span class="icon"> <i class="fi-rs-shopping-bag mr-9"></i></span> <span class="text"><h4>Order confirmed</h4></span> </div>
            <div class="step "> <span class="icon"> <i class="fa fa-user"></i><i class="fi-rs-marker mr-9"></i> </span> <span class="text"> <h4>Picked by courier</h4></span> </div>
            <div class="step "> <span class="icon"> <i class="fa fa-truck"></i><i class="fi-rs-shopping-cart-check mr-9"></i> </span> <span class="text"> <h4>On the way</h4> </span> </div>
            <div class="step "> <span class="icon"> <i class="fa fa-box"></i> <i class="evara-font-home"></i></span> <span class="text"><h4>Ready for pickup</h4></span> </div>
        </div>
        <% } else if(order.status == ' returned') { %>
            <div class="track col-lg-9">
                <div class="step "> <span class="icon"> <i class="fi-rs-shopping-bag mr-9"></i></span> <span class="text"><h4>Order confirmed</h4></span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-user"></i><i class="fi-rs-marker mr-9"></i> </span> <span class="text"> <h4>Picked by courier</h4></span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck"></i><i class="fi-rs-shopping-cart-check mr-9"></i> </span> <span class="text"> <h4>On the way</h4> </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box"></i> <i class="evara-font-home"></i></span> <span class="text"><h4>Ready for pickup</h4></span> </div>
            </div>
            <% } else if(order.status == 'conformed') { %>
                <div class="track col-lg-9">
                    <div class="step active"> <span class="icon"> <i class="fi-rs-shopping-bag mr-9"></i></span> <span class="text"><h4>Order confirmed</h4></span> </div>
                    <div class="step "> <span class="icon"> <i class="fa fa-user"></i><i class="fi-rs-marker mr-9"></i> </span> <span class="text"> <h4>Picked by courier</h4></span> </div>
                    <div class="step "> <span class="icon"> <i class="fa fa-truck"></i><i class="fi-rs-shopping-cart-check mr-9"></i> </span> <span class="text"> <h4>On the way</h4> </span> </div>
                    <div class="step "> <span class="icon"> <i class="fa fa-box"></i> <i class="evara-font-home"></i></span> <span class="text"><h4>Ready for pickup</h4></span> </div>
                </div>
                <% } else if(order.status == 'shipped') { %>
                    <div class="track col-lg-9">
                        <div class="step active"> <span class="icon"> <i class="fi-rs-shopping-bag mr-9"></i></span> <span class="text"><h4>Order confirmed</h4></span> </div>
                        <div class="step active"> <span class="icon"> <i class="fa fa-user"></i><i class="fi-rs-marker mr-9"></i> </span> <span class="text"> <h4>Picked by courier</h4></span> </div>
                        <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i><i class="fi-rs-shopping-cart-check mr-9"></i> </span> <span class="text"> <h4>On the way</h4> </span> </div>
                        <div class="step "> <span class="icon"> <i class="fa fa-box"></i> <i class="evara-font-home"></i></span> <span class="text"><h4>Ready for pickup</h4></span> </div>
                    </div>
            

            

       
        <% } %>
<br>
                   
<br>
<br>
                    

                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= user.username %> <br> <%= user.email %><br> +1<%= user.mobile %>
                                    </p>
                                    <a href="/api/user/profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping:<%= order.address[0].adressType %>  <br> Pay method:<%= order.payment %>  <br> Status: <%= order.status %> 
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= order.address[0].townCity %> <br> <%= order.address[0].addressLine %> <br> Po Box <%= order.address[0]. pinCode %> <br>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                            <% if (order.status == 'delivered') { %>
                                                <th width="30%" class="">Rate product </th>
                                                <% } else { %>
                                                    <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>




                                        <% for (let i=0; i < order.product.length;i++) { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                           
                                                            <img src="/admin/assets/imgs/catogary/<%=order.product[i].image %>" width="40" height="40" class="img-xs" alt="Item">
                                                            
                                                        </div>
                                                        <div class="info"> <%= order.product[i].title %> </div>
                                                    </a>
                                                </td>



                                       

                                               
                                                   
                                                    <td><%= order.product[i].price %></td>
                                                    <td> x<%=order.product[i].quantity  %></td>
                                                    <td>$<%= order.product[i].price *order.product[i].quantity %></td>
                                                    <% var x= order.product[i].price *order.product[i].quantity%>
                                                    <% if (order.status == 'delivered') { %>
                                                        <td> 
                                                          <a
                                                            aria-label="Quick view"
                                                            class="action-btn hover-up rate-button"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#quickViewModal"
                                                            data-product-id="<%= order.product[i].ProductId %>"
                                                          >
                                                            <button class="btn btn-sm">Rate</button>
                                                          </a>
                                                        </td>
                                                        <% } else { %>
                                                        <% } %>
                                            </tr>
                                        


                                            <% } %> 
                                      
                                        
                                        
                                        
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>$<%= (x).toFixed(2) %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt> Offer:</dt>
                                                        <dd>₹ <%=x -(order.totalPrice).toFixed(2) %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">$<%= (order.totalPrice).toFixed(2) %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status: </dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

<!--------------------------------- modal for rarting ---------------------- -->

<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
                     
    <div class="modal-dialog">
    <div class="modal-content">              
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
            <div class="modal-body">
                <div class="row">
                    <div class="comment-form">
                        <h4 class="mb-15">Add a review</h4>
                  
        

<div class="container d-flex justify-content-center mt-5">

<div class="card text-center mb-5">
<% if (user.isGoogle) { %>
    <div class="circle-image">
        <img src="<%= user.image %>" width="50">
    </div>
    
    <% } else { %>
        <div class="circle-image">
            <img src="/admin/assets/imgs/catogary/<%=user.image %>" width="50">
        </div>
                            
        <% } %>
 


  

<span class="name mb-1 fw-500"><%= user.username%></span>



<form action="/api/user/review" method="post">
<div class="location mt-4">
    <div class="form-group">
        <textarea class="form-control w-100" name="comment"
            id="comment" cols="30" rows="9"
            placeholder="Write Comment"></textarea>
    </div>

   
    
</div>


<div class="rate bg-success py-3 text-white mt-3">

    <h6 class="mb-0">Rate your driver</h6>

    <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
    </div>


    <div class="buttons px-4 mt-0">
        <input type="hidden" id="product-id-hidden" name="productId" value="">
        <input type="hidden" id="" name="orderId" value="<%=order._id %>">

    <button type="submit" class="btn btn-warning btn-block rating-submit">Submit</button> 
</div>
</form>   
</div>
</div>

</div>
                       </div>        
    </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const rateButtons = document.querySelectorAll(".rate-button");
      const productIdHidden = document.getElementById("product-id-hidden");
  
      rateButtons.forEach(function(button) {
        button.addEventListener("click", function() {
          const productId = button.getAttribute("data-product-id");
          productIdHidden.value = productId;
         
        });
      });
    });
  </script>
  
  
<!--------------------------------- modal for rarting ---------------------- -->
  

 




                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="/api/user/allOderData">View Orders</a>
                            <a class="btn btn-primary" href="/api/user/">Continue Shoping</a>

                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/admin/assets/imgs/card-brands/2.png" class="border" height="20"> <%= order.payment %> <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                           
                            
                            
                           
                        </div> <!-- col// -->
                       
                    </div>
                    
                </div> <!-- card-body end// -->
               
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </div>
</div>
<br>
<br>
<br>
<br>
    <br>
    <br>
    
    <script>
       
     function addRating(product){
        alert(product)
        
     }

    </script>
  
    <%- include('footer') %>
    


