


<%- include('header') %>
  
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">Featured</a></li>
                                            <li><a href="#">Price: Low to High</a></li>
                                            <li><a href="#">Price: High to Low</a></li>
                                            <li><a href="#">Release Date</a></li>
                                            <li><a href="#">Avg. Rating</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">

                            <% if (product.length > 0) { %>

                                <% for (let i = 0; i < product.length; i++) { %>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <a href="/api/user/aProduct?id=<%= product[i].id %>">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/api/user/aProduct?id=<%= product[i].id %>">
                                                        <img class="default-img" src="/admin/assets/imgs/catogary/<%= product[i].images[0] %>" alt="">
                                                        <img class="hover-img" src="/admin/assets/imgs/catogary/<%= product[i].images[0] %>" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/api/user/addToList?id=<%= product[i]._id %>"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="#"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="#"><%= product[i].catogary %></a>
                                                </div>
                                                <h2><a href="#"><%= product[i].title %></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span><%= product[i].rating %> </span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$<%=product[i].price  %> </span>
                                                    <span class="old-price">$<%= Math.round(product[i].price+50) %></span>
                                                    <a class="float-right" href="/api/user/addToCart?id=<%= product[i].id %>"><i class="fi-rs-shopping-bag-add "></i></a>
                                                </div>
                                                <div class="">
                                                    <!-- Use a common class "add-to-cart-btn" for all add to cart buttons -->
                                                    <!-- <a href="/api/user/addToCart?id=<%= product[i].id %>""><i class="fi-rs-shopping-bag-add"></i></a> -->
                                                       
                                                    <!-- <a aria-label="Add To Cart" class="action-btn hover-up add-to-cart-btn" href="/api/user/addToCart?id=<%= product[i].id %>"> <i class="fi-rs-shopping-bag-add"></i> </a> -->
                                                </div>






























                                            </div>
                                        </div>
                                    </a>
                                    </div>

                                    <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="2">Product not found</td>
                                        </tr>
                                        <% } %>
    


                          
                            
                            
                            
                           
                        </div>
                        <!--pagination-->
                        <% if (totalpages) { %>
                            <div class="pagination">
                              <% if (currentpage > 1) { %>
                                <button class="btn btn-sm"><a href="?page=<%= currentpage - 1 %>">Previous</a></button>
                              <% } %>
                          
                              <% for (let i = 1; i <= totalpages; i++) { %> <!-- Change the loop to start from 1 and go up to totalpages -->
                                <button class="btn btn-sm"><a href="?page=<%= i %>" class="<%= i === currentpage ? 'active' : '' %>"><%= i %></a></button>
                              <% } %>
                          
                              <% if (currentpage < totalpages) { %>
                                <button class="btn btn-sm"><a href="?page=<%= currentpage + 1 %>">Next</a></button>
                              <% } %>
                            </div>
                          <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>
    




    <%- include('footer') %>