<%- include('header') %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Add new Address</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="/api/user/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                       <div class="row">
                                        
<!-- ------------wallet ------------->
<%  if(user.wallet==0){%>
    <div class="col-lg-4">
        <div class="card card-body mb-4">
            <article class="icontext">
                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                <div class="text">
                    <h6 class="mb-1 card-title">Wallet</h6>
                    <span>₹0.00</span>
                    <span class="text-sm">
                       <br>
                       <br>
                       <br>

                       <br>
                    </span>
                </div>
            </article>
        </div>
    </div>
    <%  }else{%>
        <div class="col-lg-4">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h3 class="mb-1 card-title">Wallet</h3>
                        <br>
                        
                            <br>
                        
                        <span><h5>Ballence:₹<%= user.wallet %></h5></span>
                        <br>
                        <br>
                        <span class="text-sm">
                         
                            
                           
                            <br>
                        
                        
    
                          
                          

                        </span>
                    </div>
                </article>
            </div>
        </div>
        <% }%>
        <div class="col-lg-4 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up">
              <img src="/user/assets/imgs/theme/icons/feature-3.png" alt="">
              <a href="#" data-toggle="modal" data-target="#addMoneyModal"><h4 class="bg-2">Add Money</h4></a>
            </div>
          </div>
  
        

                                        </div>
                                        
                                   <!-- Add Money Modal -->
<div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog" aria-labelledby="addMoneyModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMoneyModalTitle">Add Money</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addMoneyForm">
            <div class="form-group">
              <label for="moneyAmount">Amount (₹)</label>
              <input type="number" class="form-control" id="moneyAmount" placeholder="Enter amount">

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="addMoneyButton">Add Money</button>
        </div>
      </div>
    </div>
  </div>
 
<!-- ----------------------------------------------------------- -->

                                       
                             


 <!-- card for the dash bord user simple details -->

                                            <div class="card mb-4">
                                                <div class="card-header bg-primary" style="height:150px">
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        
                                                        <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                                                            
                                                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                                                                <img style="width: auto; height: 100px;" src="/admin/assets/imgs/catogary/<%= user.image %>" class="center-xy img-fluid" alt="Logo Brand">
                                                                <div><%  if(!user.image){%>
                                                                    
                                                                    <li class="dropdown nav-item">
                                                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Add Profile Pic</a>
                                                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                                           <form action="/api/user/addProficPic" enctype="multipart/form-data" method="post"> <a class="dropdown-item" href="#"><input class="form-control" type="file" accept="image/*" name="image" ></a> <input type="hidden" name="id" value="<%=user._id %>">
                                                                           <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i><button style="height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;" type="submit">Add</button></a></form>
                                                           
                                                                        </div>
                                                                    </li>
                                                                    
                                                                   

                                                                    <%  }else{%>

                                                                        <li class="dropdown nav-item">
                                                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Edit Profile Pic</a>
                                                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                                               <form action="/api/user/addProficPic" enctype="multipart/form-data" method="post"> <a class="dropdown-item" href="#"><input class="form-control" type="file" accept="image/*" name="image" ></a> <input type="hidden" name="id" value="<%=user._id %>">
                                                                               <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i><button style="height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;" class="btn btn-primary" type="submit">Add</button></a></form>
                                                               
                                                                            </div>
                                                                        </li>
                                                                    <% }%></div>
                                                            </div> 
                                                        </div> <!--  col.// -->
                                                        <div class="col-xl col-lg">
                                                            <h3><%= user.username %></h3>
                                                            <p><%= user.email %>, </p>
                                                        </div> <!--  col.// -->
                                                        
                                                    </div> <!-- card-body.// -->
                                                    <hr class="my-4">
                                                    <div class="row g-4">
                                                        
                                                        <div class="col-sm-6 col-lg-4 col-xl-3">
                                                            <h6>Contacts</h6>
                                                         
                                                                <p> <%= user.mobile %></p>
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                        </div> <!--  col.// -->
                                                        <div class="col-sm-8 col-lg-6 col-xl-5">
                                                            <h6>Address</h6>
                                                            <% if (user.address && user.address.length > 0) { %>
                                                                <p><%= user.address[0].addressLine %></p>
                                                            <% } else { %>
                                                                <div class="col-sm-12">
                                                                <!-- <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Add new Address</a> -->
                                                           <p>  <i class="fi-rs-x-circle mr-10"></i>No Address Add Your address</p>
                                                            </div>
                                                                <% } %>
                                                            
                                                               
                                                            
                                                        </div> <!--  col.// -->
                                                        <div class="col-lg-3"> <a href="/api/user/editProfile?id=<%=user._id %>">Edit Profile</a></div>
                                                      
                                                    </div> <!--  row.// -->
                                                </div> <!--  card-body.// -->
                                            </div> <!--  card.// -->
                                           
                                       <!-- ----------------------------------------------------------------------- -->
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% for (let i=0; i < order.length;i++) { %>
                                                                <tr>
                                                                    <td>#1357</td>
                                                                    <td><%= order[i].createdOn.toLocaleDateString() %>, 2020</td>
                                                                    <td><%= order[i].status %></td>
                                                                    <td>$<%= (order[i].totalPrice ).toFixed(2)%> </td>
                                                                    <td><a href="/api/user/oderDetails" class="btn-small d-block">View</a></td>
                                                                </tr>

                                                                <% } %> 
                                                               
                                                               
                                                           
                                                           
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            
                                            <% if (user.address.length > 0) { %>
                                                <% for (let i = 0; i < user.address.length; i++) { %>

                                                  <div class="col-lg-6">
                                                  <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                        
                                                        
                                                     </div>
                                                    
                                                    
                                                    <div class="card-body">
                                                       
                                                          
                                                                <address>
                                                                    Name: <%= user.address[i].fullName %><br>
                                                                    Pin: <%= user.address[i].pinCode %> <%= user.address[i].townCity %><br> 
                                                                    Landmark: <%= user.address[i].ladmark %><br>
                                                                    House: <%= user.address[i].addressLine %><br>
                                                                    Street: <%= user.address[i].areaStreet %><br>
                                                                    Phone: <%= user.address[i].mobile %>
                                                                </address>
                                                                <p><%= user.address[i].region %></p>
                                                                <a href="/api/user/editAddress?id=<%=user.address[i]._id %>" class="btn-small">Edit</a> <span> || </span>
                                                                <a href="/api/user/deleteAddress?id=<%=user.address[i]._id %>" class="btn-small">Delete</a>
                                                               
                                                      
                                                    </div>
                                                </div>
                                            </div>




                                                    <% } %>

                                                <% } else { %>





                                                    <div class="col-lg-6">
                                                        <div class="card">
                                                          <div class="card-header">
                                                              <h5 class="mb-0">Shipping Address</h5>
                                                              
                                                              
                                                           </div>
                                                          
                                                          
                                                          <div class="card-body">
                                                              
                                                                  <p>No address found. Please add an address.</p>
                                                                  
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                                    




                                                    <% } %>






                                           





















                                           
                                            </div>
                                            
                                        </div> 
                                    
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add New Address</h5>
                                            </div>
                                            <div class="card-body">
                                               
                                                <form method="post" action="/api/user/addAddress" >
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Full Name</h5></label>
                                                            <input required="" class="form-control square" name="fullName" type="text">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Mobile number</h5></label>
                                                            <input required="" class="form-control square" name="mobile" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Region</h5></label>
                                                            <input required="" class="form-control square" name="region" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Pincode</h5></label>
                                                            <input required="" class="form-control square" name="pinCode" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Flat, House no., Building, Company, Apartment</h5></label>
                                                            <input required="" class="form-control square" name="addressLine" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label> <h5>Area, Street, Sector, Village</h5></label>
                                                            <input required="" class="form-control square" name="areaStreet" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Landmark</h5> </label>
                                                            <input required="" class="form-control square" name="ladmark" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><h5>Town/City</h5> </label>
                                                            <input required="" class="form-control square" name="townCity" type="text">
                                                        </div> <div class="form-group col-md-6">
                                                            <label><h5>State</h5> </label>
                                                            <input required="" class="form-control square" name="state" type="text">
                                                        </div>
                                                       
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Adress Type</h5> </label>
                                                            <input required="" class="form-control square" name="adressType" type="text">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>



// /api/user/addmoneyToWallet
    </script>
<script>
    $(document).ready(function () {
      // Handle form submission when "Add Money" button is clicked
      $("#addMoneyButton").click(function () {
        var amount = $("#moneyAmount").val(); // Get the entered amount
  
        if (amount.trim() === "") {
          alert("Please enter a valid amount.");
          return;
        }
        $("#addMoneyModal").modal("hide");
        $("#walletBalance").text("₹" + amount);
       
alert('hai iam here going to start the ajax')
        $.ajax({
            url:"/api/user/addMoneyWallet",
            method:"POST",
            data:{
                amount:amount
            },
            success:(response)=>{
                alert('hai iam here return suucees in ajax add money')

                if(response.status){
                    alert('hai')
                    var razorpayApiKey = 'rzp_test_kkytoEMYHJ1dn3';

// Calculate the amount dynamically based on the total order amount (in paise)
var orderAmount = Math.round(amount* 100);
alert('hai iam here going to open the page')

// Define the Razorpay options
var options = {
    "key": razorpayApiKey,
    "amount": orderAmount, // Dynamically calculated amount
    "currency": "INR",
    "name": "Evara",
    "description": "Add money to wallet",
    "order_id": response.razorpayOrder.id, // Replace with actual order ID
    "handler": function (response) {
        console.log(response);
       
        verifyPayment(response);
       
        
    },
    
    "prefill": {
        "name": "Customer Name", // Set to the customer's name
        "email": "customer@example.com", // Set to the customer's email
        "contact": "9000090000" // Set to the customer's contact number
    },
    "callback_url": "/your-server-callback-url", // Replace with your server's callback URL
    "theme": {
        "color": "#3399cc"
    }
};

// Create a new Razorpay instance and open the payment dialog
var rzp1 = new Razorpay(options);
alert('now')
rzp1.open();



              
                
                
                
                
                
} 
                else {
                    Swal.fire({
                        title: 'Error Occured',
                        text: "Can't process order error occured",
                        icon: 'fail',
                        timer: 5000
                    })

                }
            }
        })
      function verifyPayment(response) {
           
        $.ajax({
            url: '/api/user/verifyPayment',
            method: 'post',
            data: {
                razorpay_order_id: response.razorpay_order_id,
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_signature: response.razorpay_signature
            },
            success: (response) => {
                if (response.status) {
                    

                    $.ajax({
                        url:"/api/user/updateMongoWallet",
                        method:"post",
                        data:{
                            amount:amount,
                            
                        },
                        success:(response)=>{
                            if(response.status){
                                Swal.fire({
                        title: "Added success",
                        text: "Add Moneney successfully",
                        icon: "success",
                        showConfirmButton: false,
                        timer: 2000,
                       
                    })
                                location.reload()
                            }
                        }
                    })




                    
                  
                    
                
                } else {
                    alert("Payment failed!" + response.errMsg)
                }
            }
        })
                }
            }
    )})




  
       
     
    
  </script>
  
      
      
      
      
      
      
    
    <%- include('footer') %>
  