<%- include('header') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Add new Address</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="/api/user/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                       

                                        <!-- card for the dash bord user simple details -->
                                            <div class="card mb-4">
                                                <div class="card-header bg-primary" style="height:150px">
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                                                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                                                                <img style="width: auto; height: 100px;" src="/admin/assets/imgs/catogary/<%= user.image %>" class="center-xy img-fluid" alt="Logo Brand">
                                                                <div><%  if(!user.image){%>
                                                                    
                                                                    <li class="dropdown nav-item">
                                                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Add Profile Pic</a>
                                                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                                           <form action="/api/user/addProficPic" enctype="multipart/form-data" method="post"> <a class="dropdown-item" href="#"><input class="form-control" type="file" accept="image/*" name="image" ></a> <input type="hidden" name="id" value="<%=user._id %>">
                                                                           <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i><button style="height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;" type="submit">Add</button></a></form>
                                                           
                                                                        </div>
                                                                    </li>
                                                                   

                                                                    <%  }else{%>
                                                                        <li class="dropdown nav-item">
                                                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Edit Profile Pic</a>
                                                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                                               <form action="/api/user/addProficPic" enctype="multipart/form-data" method="post"> <a class="dropdown-item" href="#"><input class="form-control" type="file" accept="image/*" name="image" ></a> <input type="hidden" name="id" value="<%=user._id %>">
                                                                               <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i><button style="height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;" class="btn btn-primary" type="submit">Add</button></a></form>
                                                               
                                                                            </div>
                                                                        </li>
                                                                    <% }%></div>
                                                            </div> 
                                                        </div> <!--  col.// -->
                                                        <div class="col-xl col-lg">
                                                            <h3><%= user.username %></h3>
                                                            <p><%= user.email %>, </p>
                                                        </div> <!--  col.// -->
                                                        
                                                    </div> <!-- card-body.// -->
                                                    <hr class="my-4">
                                                    <div class="row g-4">
                                                        
                                                        <div class="col-sm-6 col-lg-4 col-xl-3">
                                                            <h6>Contacts</h6>
                                                         
                                                                <p> <%= user.mobile %></p>
                                                                
                                                        </div> <!--  col.// -->
                                                        <div class="col-sm-8 col-lg-6 col-xl-5">
                                                            <h6>Address</h6>
                                                            <% if (user.address && user.address.length > 0) { %>
                                                                <p><%= user.address[0].addressLine %></p>
                                                            <% } else { %>
                                                                <div class="col-sm-12">
                                                                <!-- <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Add new Address</a> -->
                                                           <p>  <i class="fi-rs-x-circle mr-10"></i>No Address Add Your address</p>
                                                            </div>
                                                                <% } %>
                                                            
                                                               
                                                            
                                                        </div> <!--  col.// -->
                                                        <div class="col-lg-3"> <a href="/api/user/editProfile?id=<%=user._id %>">Edit Profile</a></div>
                                                      
                                                    </div> <!--  row.// -->
                                                </div> <!--  card-body.// -->
                                            </div> <!--  card.// -->
                                       <!-- ----------------------------------------------------------------------- -->
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>#1357</td>
                                                                <td>March 45, 2020</td>
                                                                <td>Processing</td>
                                                                <td>$125.00 for 2 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2468</td>
                                                                <td>June 29, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$364.00 for 5 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2366</td>
                                                                <td>August 02, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$280.00 for 3 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            
                                            <% if (user.address.length > 0) { %>
                                                <% for (let i = 0; i < user.address.length; i++) { %>

                                                  <div class="col-lg-6">
                                                  <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                        
                                                        
                                                     </div>
                                                    
                                                    
                                                    <div class="card-body">
                                                       
                                                          
                                                                <address>
                                                                    Name: <%= user.address[i].fullName %><br>
                                                                    Pin: <%= user.address[i].pinCode %> <%= user.address[i].townCity %><br> 
                                                                    Landmark: <%= user.address[i].ladmark %><br>
                                                                    House: <%= user.address[i].addressLine %><br>
                                                                    Street: <%= user.address[i].areaStreet %><br>
                                                                    Phone: <%= user.address[i].mobile %>
                                                                </address>
                                                                <p><%= user.address[i].region %></p>
                                                                <a href="/api/user/editAddress?id=<%=user.address[i]._id %>" class="btn-small">Edit</a> <span> || </span>
                                                                <a href="/api/user/deleteAddress?id=<%=user.address[i]._id %>" class="btn-small">Delete</a>
                                                               
                                                      
                                                    </div>
                                                </div>
                                            </div>




                                                    <% } %>

                                                <% } else { %>





                                                    <div class="col-lg-6">
                                                        <div class="card">
                                                          <div class="card-header">
                                                              <h5 class="mb-0">Shipping Address</h5>
                                                              
                                                              
                                                           </div>
                                                          
                                                          
                                                          <div class="card-body">
                                                              
                                                                  <p>No address found. Please add an address.</p>
                                                                  
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                                    




                                                    <% } %>






                                           





















                                           
                                            </div>
                                            
                                        </div> 
                                    
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add New Address</h5>
                                            </div>
                                            <div class="card-body">
                                               
                                                <form method="post" action="/api/user/addAddress" >
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Full Name</h5></label>
                                                            <input required="" class="form-control square" name="fullName" type="text">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Mobile number</h5></label>
                                                            <input required="" class="form-control square" name="mobile" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Region</h5></label>
                                                            <input required="" class="form-control square" name="region" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Pincode</h5></label>
                                                            <input required="" class="form-control square" name="pinCode" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Flat, House no., Building, Company, Apartment</h5></label>
                                                            <input required="" class="form-control square" name="addressLine" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label> <h5>Area, Street, Sector, Village</h5></label>
                                                            <input required="" class="form-control square" name="areaStreet" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Landmark</h5> </label>
                                                            <input required="" class="form-control square" name="ladmark" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><h5>Town/City</h5> </label>
                                                            <input required="" class="form-control square" name="townCity" type="text">
                                                        </div> <div class="form-group col-md-6">
                                                            <label><h5>State</h5> </label>
                                                            <input required="" class="form-control square" name="state" type="text">
                                                        </div>
                                                       
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Adress Type</h5> </label>
                                                            <input required="" class="form-control square" name="adressType" type="text">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('footer') %>
   